html{
    font-size: 16px;
}
*{
    -webkit-tap-highlight-color:rgba(255,0,0,0);
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.input-box{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px solid #efefef;
}
.input-left{
    width: 85%;
    height: 2rem;
    background-color: #f3f3f3;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    border-radius: 2rem;
    overflow: hidden;
}
.select-img{
    width: 2rem;
    height: 2rem;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
.input{
    height: 2rem;
    outline: none;
    border-radius: 2rem;
    border: none;
    background-color: #f3f3f3;
}
.select-img img{
    width: 1rem;
    height: 1rem;
}
.input-right{
    color: #50bcfa;
}
.hot-select-box{
    width: 100%;
    margin-bottom: 1rem;
}
.topic{
    color: #696969;
    padding: 1rem;
    letter-spacing: 0.05rem;
    font-weight: bold;
    font-size: .85rem;
    font-family: "黑体";
}
.text{
    margin-left: 1.5rem;
}
.text span{
    padding: 0.6rem;
    background-color: #f3f3f3;
    color: #9f9f9f;
    margin: 1.2rem 0.5rem 1.2rem 0.5rem;
    font-size: 0.8rem;
}