
.news-box{
    width: 85%;
    margin: auto;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.news-box-left{
    width: 25%;
    height: 100%;
}
.news-box-left-topic{
    width: 100%;
    height: 2rem;
    background-color: #58ade4;
    color: #FFFFFF;
    font-size: .95rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    text-indent: 1.25rem;
}
.news-box-left-lists{
    width: 100%;
}
.news-box-left-list{
    width: 100%;
    height: 2rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    font-size: .9rem;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px dotted #58ade4;
    text-indent: 1.25rem;
}
.news-box-left-list.active{
    color: #58ade4;
}
.news-box-left-list:hover{
    color: #58ade4;
}
.news-box-right{
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #dddddd;
}
.news-box-right-title{
    width: 100%;
    height: 2rem;
    background-color: #58ade4;
    display: flex;
    display: -webkit-flex;
    align-items: center;
}
.title-hover{
    display: flex;
    display: -webkit-flex;
    align-items: center;
}
.title-hover a{
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    text-indent: 1.25rem;
}
.title-hover a:hover{
    text-decoration: underline;
}
.title-hover{
    color: #FFFFFF;
    font-size: .9rem;
}
.news-content-box{
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: .5rem;
}
.news-content-box iframe{
    width: 100%;
    height: 30rem;
    outline: none;
    border: none;
}