@keyframes go{
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.addGo{
    animation:go 1s ease;
    -o-animation:go 1s ease;
    -moz-animation:go 1s ease;
    -webkit-animation:go 1s ease;
    animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}