@keyframes go{
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.addGo1{
    animation:go 1s ease;
    -o-animation:go 1s ease;
    -moz-animation:go 1s ease;
    -webkit-animation:go 1s ease;
    animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.addGo2{
    animation:go 1s ease;
    -o-animation:go 1s ease;
    -moz-animation:go 1s ease;
    -webkit-animation:go 1s ease;
    animation-delay: 1s;
    -o-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.addGo3{
    animation:go 1s ease;
    -o-animation:go 1s ease;
    -moz-animation:go 1s ease;
    -webkit-animation:go 1s ease;
    animation-delay: 2s;
    -o-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.addGo4{
    animation:go 1s ease;
    -o-animation:go 1s ease;
    -moz-animation:go 1s ease;
    -webkit-animation:go 1s ease;
    animation-delay: 3s;
    -o-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.animation-box{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    z-index: 10000;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

.spinner{
    width: 20rem;
    height: 20rem;
    position: relative;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #67CF22;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}
   
@keyframes bounce {
0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
} 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
}
}